<%= stylesheet_link_tag 'bhakti_yoga.css' %>
<%= javascript_include_tag 'bhakti_yoga.js'%>

<div class='yoga-marg-container'>
  <div class='yoga-marg-section'>
    <div class='bhakti-yoga'>
      <div class='yoga-section-one'>
        <div>
          <div class='yoga-header'>
            <%= image_tag "grunge6.png", class: 'yoga-grunge-1'%>
            <div class='yoga-title'>
              Kundalini Yoga
            </div>
          </div>
          <div class='yoga-quate-section'>
            <%= image_tag "grunge2.png", class: 'yoga-grunge-2'%>
            <div class='yoga-quate'>
              Kundalini Yoga, as taught by enlightened beings or advanced spiritual practitioners, emphasizes the awakening and harnessing of the Kundalini energy for spiritual growth and self-realization.
            </div>
          </div>
        </div>
        <div class='yoga-images'>
          <%= image_tag "woman-meditation", class: 'yoga-image'%>
        </div>
      </div>
    </div>
    <%if admin_signed_in?%>
      <div class='buttons'>
        <%= link_to "Add-Item",  new_kundalini_yoga_path, class: 'add-item'%>
      </div>
    <%end%>
    <div class='bhakti-yogas-list'>
      <div class='yoga-section-two'>
        <%if @kundalini_yogas.present? %>
          <%= render partial: 'card', locals: { kundalini_yogas: @kundalini_yogas, total_records: @total_records} %>
        <%end%>
      </div>
    </div>
  </div>
</div>