<div class='bhakti-yoga-show-page'>
    <div class='buttons'>
      <%= link_to "Edit-Item",  edit_kundalini_yoga_url(@kundalini_yoga), class: 'edit-item'%>
      <%= link_to "Delete Item", kundalini_yoga_path(@kundalini_yoga), method: :delete, 
        data: { confirm: "Are you sure you want to delete this item?" }, class: 'delete-item' 
      %>
    </div>
   <div class="title"> 
      <%= @kundalini_yoga.title%>
   </div>
   <div class="image"> 
      <%= image_tag @kundalini_yoga.image_url %>
   </div>
    <div class="description"> 
      <%= @kundalini_yoga.description%>
  </div>
</div>