<%= stylesheet_link_tag 'bhakti_yoga.css' %>
<%= javascript_include_tag 'bhakti_yoga.js'%>

<div class='yoga-marg-container'>
  <div class='yoga-marg-section'>
    <div class='bhakti-yoga'>
      <div class='yoga-section-one'>
        <div>
          <div class='yoga-header'>
            <%= image_tag "grunge6.png", class: 'yoga-grunge-1'%>
            <div class='yoga-title'>
              Kriya Yoga
            </div>
          </div>
          <div class='yoga-quate-section'>
            <%= image_tag "grunge2.png", class: 'yoga-grunge-2'%>
            <div class='yoga-quate'>
              Kriya Yoga is the path of love and devotion. It is not about rituals or ceremonies, but about opening your heart to the divine presence within and without.
            </div>
          </div>
        </div>
        <div class='yoga-images'>
          <%= image_tag "krishna", class: 'yoga-image'%>
        </div>
      </div>
    </div>
    <div class='buttons'>
      <%= link_to "Add-Item",  new_kriya_yoga_path, class: 'add-item'%>
    </div>
    <div class='bhakti-yogas-list'>
      <div class='yoga-section-two'>
        <%if @kriya_yogas.present? %>
          <%= render partial: 'card', locals: { kriya_yogas: @kriya_yogas, total_records: @total_records} %>
        <%end%>
      </div>
    </div>
  </div>
</div>