<div class='card-container'>
	<% collections.each do |object| %>
    <div class='card' data-controller-name='<%= controller_name%>' data-id='<%= object.id %>'>
      <%if object.image_url.present?%>
        <%= image_tag object.image_url, class: 'card-image' %>
      <%else%>
        <%= image_tag "volunteer", class: 'card-image' %>
      <%end%>
      <div class='title'>
        <%= object.title %>
      </div>
      <div class='by-enlitened-being'>
        --By <%= object.enlightened_being.name%>
      </div>
      <div class='description'>
        <%= object.description %>
      </div>
     </div>
  <%end%>
</div>