<div class='home-container'>
	<div class='kala-chakra-container'>
		<%= image_tag "kala_chakra.gif", class: 'kala-chakra'%>
		<div class='kala-chakra-quate'>
			In the lap of the Eternal, time does not exist. 
			<br>Only for those who are trapped in the cycles of birth and death, time becomes a reality
		</div>
	</div>
	<div class='yoga-marg-container'>
		<div class='yoga-marg-section'>
      <div class='bhakti-yoga'>
        <div class='yoga-section-one'>
          <div>
            <div class='yoga-header'>
              <%= image_tag "grunge6.png", class: 'yoga-grunge-1'%>
              <div class='yoga-title'>
                Bhakti Yoga
              </div>
            </div>
            <div class='yoga-quate-section'>
              <%= image_tag "grunge2.png", class: 'yoga-grunge-2'%>
              <div class='yoga-quate'>
                Bhakti Yoga is the path of love and devotion. It is not about rituals or ceremonies, but about opening your heart to the divine presence within and without.
              </div>
            </div>
          </div>
          <div class='yoga-images'>
            <%= image_tag "krishna", class: 'yoga-image'%>
          </div>
        </div>
        <div class='yoga-section-two'>
          <%= render partial: 'card', locals: { collections: @bhakti_yogas, controller_name: 'bhakti_yogas'} %>
        </div>
      </div>
      <div class='karma-yoga'>
        <div class='yoga-section-one'>
          <div class='yoga-images'>
            <%= image_tag "volunteer", class: 'yoga-image'%>
          </div>
          <div>
            <div class='yoga-header'>
              <%= image_tag "grunge6.png", class: 'yoga-grunge-1'%>
              <div class='yoga-title'>
                Karma Yoga
              </div>
            </div>
            <div class='yoga-quate-section'>
              <%= image_tag "grunge2.png", class: 'yoga-grunge-2'%>
              <div class='yoga-quate'>
                Karma Yoga is the selfless service to humanity, without any attachment to the results. It is the action that purifies the heart and mind.
              </div>
            </div>
          </div>
        </div>
        <div class='yoga-section-two'>
          <%= render partial: 'card', locals: { collections: @karam_yogas, controller_name: 'karam_yogas'} %>
        </div>
      </div>
      <div class='gyana-yoga'>
        <div class='yoga-section-one'>
          <div>
            <div class='yoga-header'>
              <%= image_tag "grunge6.png", class: 'yoga-grunge-1'%>
              <div class='yoga-title'>
                Gyana Yoga
              </div>
            </div>
            <div class='yoga-quate-section'>
              <%= image_tag "grunge2.png", class: 'yoga-grunge-2'%>
              <div class='yoga-quate'>
                In Gnana Yoga, the seeker transcends the limitations of the intellect and experiences the direct realization of the ultimate truth. It is the path of self-realization through the inquiry into the nature of <br>'Who am I?'"
              </div>
            </div>
          </div>
          <div class='yoga-images'>
            <%= image_tag "astavakra", class: 'yoga-image'%>
          </div>
        </div>
        <div class='yoga-section-two'>
          <%= render partial: 'card', locals: { collections: @gyan_yogas, controller_name: 'gyan_yogas'} %>
        </div>
      </div>
      <div class='kriya-yoga'>
        <div class='yoga-section-one'>
          <div class='yoga-images'>
            <%= image_tag "kriya-yoga.webp", class: 'yoga-image'%>
          </div>
          <div>
            <div class='yoga-header'>
              <%= image_tag "grunge6.png", class: 'yoga-grunge-1'%>
              <div class='yoga-title'>
                Kriya Yoga
              </div>
            </div>
            <div class='yoga-quate-section'>
              <%= image_tag "grunge2.png", class: 'yoga-grunge-2'%>
              <div class='yoga-quate'>
                Kriya Yoga is the science of attuning one's individual consciousness with the divine consciousness through a process of disciplined inner action.
              </div>
            </div>
          </div>
        </div>
        <div class='yoga-section-two'>
          <%= render partial: 'card', locals: { collections: @kriya_yogas, controller_name: 'kriya_yogas'} %>
        </div>
      </div>
		</div>
	</div>
</div>
<div class='home-container-footer'>
  <%= image_tag "sapna2", class: 'sapna-image'%>
  <div class='quate-on-dream'>
    God is not a person. God is the presence of love and life in existence. God is the dance of consciousness. God is the dreaming, and existence is the dream.
    <br>---by OSHO
  </div>
</div>