<div class='card-container' total-records=<%= total_records%>>
  <% tantra_margs.each_slice((tantra_margs.size / 3.0).ceil).with_index do |slice, index| %>
    <div class='row-<%= index + 1 %>'>
      <% slice.each do |tantra_marg| %>
        <div class='card'>
          <%= image_tag tantra_marg.image_url, class: 'card-image' %>
          <div class='title'>
            <%= tantra_marg.title %>
          </div>
          <div class='by-enlitened-being'>
            --By Sadhguru
          </div>
          <div class='description'>
            <%= tantra_marg.description %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class='load-more-button'>
  <button id="load-more">Load More</button>
</div>
