<div class='card-container' total-records=<%= total_records%>>
  <% karam_yogas.each_slice((karam_yogas.size / 3.0).ceil).with_index do |slice, index| %>
    <div class='row-<%= index + 1 %>'>
      <% slice.each do |karam_yoga| %>
        <div class='card'>
          <%if karam_yoga.image_url.present?%>
            <%= image_tag karam_yoga.image_url, class: 'card-image' %>
          <%else%>
            <%= image_tag "volunteer", class: 'card-image' %>
          <%end%>
          <div class='title'>
            <%= karam_yoga.title %>
          </div>
          <div class='by-enlitened-being'>
            --By Sadhguru
          </div>
          <div class='description'>
            <%= karam_yoga.description %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class='load-more-button'>
  <button id="load-more">Load More</button>
</div>
