<%= stylesheet_link_tag 'bhakti_yoga.css' %>
<%= javascript_include_tag 'bhakti_yoga.js'%>

<div class='yoga-marg-container'>
  <div class='yoga-marg-section'>
    <div class='bhakti-yoga'>
      <div class='yoga-section-one'>
        <div>
          <div class='yoga-header'>
            <%= image_tag "grunge6.png", class: 'yoga-grunge-1'%>
            <div class='yoga-title'>
              Karam Yoga
            </div>
          </div>
          <div class='yoga-quate-section'>
            <%= image_tag "grunge2.png", class: 'yoga-grunge-2'%>
            <div class='yoga-quate'>
              Karma Yoga is the selfless service to humanity, without any attachment to the results. It is the action that purifies the heart and mind.
            </div>
          </div>
        </div>
        <div class='yoga-images'>
          <%= image_tag "volunteer", class: 'yoga-image'%>
        </div>
      </div>
    </div>
    <%if admin_signed_in?%>
      <div class='buttons'>
        <%= link_to "Add-Item",  new_karam_yoga_path, class: 'add-item'%>
      </div>
    <%end%>
    <div class='bhakti-yogas-list'>
      <div class='yoga-section-two'>
        <%if @karam_yogas.present? %>
          <%= render partial: 'card', locals: { karam_yogas: @karam_yogas, total_records: @total_records} %>
        <%end%>
      </div>
    </div>
  </div>
</div>