<div class='bhakti-yoga-show-page'>
  <%if admin_signed_in?%>
    <div class='buttons'>
      <%= link_to "Edit-Item",  edit_karam_yoga_url(@karam_yoga), class: 'edit-item'%>
      <%= link_to "Delete Item", karam_yoga_path(@karam_yoga), method: :delete, 
        data: { confirm: "Are you sure you want to delete this item?" }, class: 'delete-item' 
      %>
    </div>
  <%end%>
   <div class="title"> 
      <%= @karam_yoga.title%>
   </div>
   <div class="image"> 
      <%= image_tag @karam_yoga.image_url %>
   </div>
    <div class="description"> 
      <%= @karam_yoga.description%>
  </div>
</div>