<div class='card-container' total-records=<%= total_records%>>
  <% bhakti_yogas.each_slice((bhakti_yogas.size / 3.0).ceil).with_index do |slice, index| %>
    <div class='row-<%= index + 1 %>'>
      <% slice.each do |bhakti_yoga| %>
        <div class='card' data-controller-name='bhakti_yogas' data-id='<%= bhakti_yoga.id %>'>
          <%= image_tag bhakti_yoga.image_url, class: 'card-image' %>
          <div class='title'>
            <%= bhakti_yoga.title %>
          </div>
          <div class='by-enlitened-being'>
            --By <%= bhakti_yoga.enlightened_being.name%>
          </div>
          <div class='description'>
            <%= bhakti_yoga.description %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class='load-more-button'>
  <button id="load-more">Load More</button>
</div>
