<div class='card-container'>
	<div class='row-1'>
    <div class='card'>
      <%= image_tag "krishna2", class: 'card-image'%>
      <div class='title'>
        The Unstoppables – From Sadhanapada to Hatha Yoga Teacher Training
      </div>
      <div class='description'>
        Explore the journey of five Sadhanapada alumni whose longing to explore deeper aspects of life did not stop with the 7-month Sadhanapada program at the Isha Yoga Center. Their longing soon inspired them to embark on a journey to explore the intense 21-week Hatha Yoga Teacher Training program offered by Sadhguru Gurukulam. Relive their journey as they speak about the two biggest life-transforming events of their lives and their plans to make Sadhguru’s vision to craft a conscious planet a reality. Registration closes soon.
      </div>
    </div>
    <div class='card'>
      <%= image_tag "krishna2", class: 'card-image'%>
      <div class='title'>
        The Unstoppables – From Sadhanapada to Hatha Yoga Teacher Training
      </div>
      <div class='description'>
        Explore the journey of five Sadhanapada alumni whose longing to explore deeper aspects of life did not stop with the 7-month Sadhanapada program at the Isha Yoga Center. Their longing soon inspired them to embark on a journey to explore the intense 21-week Hatha Yoga Teacher Training program offered by Sadhguru Gurukulam. Relive their journey as they speak about the two biggest life-transforming events of their lives and their plans to make Sadhguru’s vision to craft a conscious planet a reality. Registration closes soon.
      </div>
    </div>
    <div class='card'>
      <%= image_tag "krishna2", class: 'card-image'%>
      <div class='title'>
        The Unstoppables – From Sadhanapada to Hatha Yoga Teacher Training
      </div>
      <div class='description'>
        Explore the journey of five Sadhanapada alumni whose longing to explore deeper aspects of life did not stop with the 7-month Sadhanapada program at the Isha Yoga Center. Their longing soon inspired them to embark on a journey to explore the intense 21-week Hatha Yoga Teacher Training program offered by Sadhguru Gurukulam. Relive their journey as they speak about the two biggest life-transforming events of their lives and their plans to make Sadhguru’s vision to craft a conscious planet a reality. Registration closes soon.
      </div>
    </div>
  </div>

  	<div class='row-2'>
    <div class='card'>
      <%= image_tag "krishna2", class: 'card-image'%>
      <div class='title'>
        The Unstoppables – From Sadhanapada to Hatha Yoga Teacher Training
      </div>
      <div class='description'>
        Explore the journey of five Sadhanapada alumni whose longing to explore deeper aspects of life did not stop with the 7-month Sadhanapada program at the Isha Yoga Center. Their longing soon inspired them to embark on a journey to explore the intense 21-week Hatha Yoga Teacher Training program offered by Sadhguru Gurukulam. Relive their journey as they speak about the two biggest life-transforming events of their lives and their plans to make Sadhguru’s vision to craft a conscious planet a reality. Registration closes soon.
      </div>
    </div>
    <div class='card'>
      <%= image_tag "krishna2", class: 'card-image'%>
      <div class='title'>
        The Unstoppables – From Sadhanapada to Hatha Yoga Teacher Training
      </div>
      <div class='description'>
        Explore the journey of five Sadhanapada alumni whose longing to explore deeper aspects of life did not stop with the 7-month Sadhanapada program at the Isha Yoga Center. Their longing soon inspired them to embark on a journey to explore the intense 21-week Hatha Yoga Teacher Training program offered by Sadhguru Gurukulam. Relive their journey as they speak about the two biggest life-transforming events of their lives and their plans to make Sadhguru’s vision to craft a conscious planet a reality. Registration closes soon.
      </div>
    </div>
    <div class='card'>
      <%= image_tag "krishna2", class: 'card-image'%>
      <div class='title'>
        The Unstoppables – From Sadhanapada to Hatha Yoga Teacher Training
      </div>
      <div class='description'>
        Explore the journey of five Sadhanapada alumni whose longing to explore deeper aspects of life did not stop with the 7-month Sadhanapada program at the Isha Yoga Center. Their longing soon inspired them to embark on a journey to explore the intense 21-week Hatha Yoga Teacher Training program offered by Sadhguru Gurukulam. Relive their journey as they speak about the two biggest life-transforming events of their lives and their plans to make Sadhguru’s vision to craft a conscious planet a reality. Registration closes soon.
      </div>
    </div>
  </div>

  	<div class='row-3'>
    <div class='card'>
      <%= image_tag "krishna2", class: 'card-image'%>
      <div class='title'>
        The Unstoppables – From Sadhanapada to Hatha Yoga Teacher Training
      </div>
      <div class='description'>
        Explore the journey of five Sadhanapada alumni whose longing to explore deeper aspects of life did not stop with the 7-month Sadhanapada program at the Isha Yoga Center. Their longing soon inspired them to embark on a journey to explore the intense 21-week Hatha Yoga Teacher Training program offered by Sadhguru Gurukulam. Relive their journey as they speak about the two biggest life-transforming events of their lives and their plans to make Sadhguru’s vision to craft a conscious planet a reality. Registration closes soon.
      </div>
    </div>
    <div class='card'>
      <%= image_tag "krishna2", class: 'card-image'%>
      <div class='title'>
        The Unstoppables – From Sadhanapada to Hatha Yoga Teacher Training
      </div>
      <div class='description'>
        Explore the journey of five Sadhanapada alumni whose longing to explore deeper aspects of life did not stop with the 7-month Sadhanapada program at the Isha Yoga Center. Their longing soon inspired them to embark on a journey to explore the intense 21-week Hatha Yoga Teacher Training program offered by Sadhguru Gurukulam. Relive their journey as they speak about the two biggest life-transforming events of their lives and their plans to make Sadhguru’s vision to craft a conscious planet a reality. Registration closes soon.
      </div>
    </div>
    <div class='card'>
      <%= image_tag "krishna2", class: 'card-image'%>
      <div class='title'>
        The Unstoppables – From Sadhanapada to Hatha Yoga Teacher Training
      </div>
      <div class='description'>
        Explore the journey of five Sadhanapada alumni whose longing to explore deeper aspects of life did not stop with the 7-month Sadhanapada program at the Isha Yoga Center. Their longing soon inspired them to embark on a journey to explore the intense 21-week Hatha Yoga Teacher Training program offered by Sadhguru Gurukulam. Relive their journey as they speak about the two biggest life-transforming events of their lives and their plans to make Sadhguru’s vision to craft a conscious planet a reality. Registration closes soon.
      </div>
    </div>
  </div>


</div>