<div class='container'>
	<%= image_tag 'intelligance.jpg', class: 'intelligance-background-image' %>
	<div class='logo-and-navbar'> 
		<div class='aum-logo-div'>
			<%= image_tag "aum_logo.png", class: 'aum-logo'%>
		</div>
		<div class='menu-bar-icon-div'>
			<%= image_tag "menu_bar_icon.png", class: 'menu-bar-icon show'%>
      <%= image_tag "close.png", class: 'menu-bar-icon show-drag-and-drop hide'%>
		</div>
	</div>
	<div class='quate-on-intelligance'>
		Experience life in all possible ways 
		<br>--good-bad, bitter-sweet, dark-light, summer-winter . 
		<br>Experience all dualities. 
		<br>Don’t be affraid of experience, because the more experience you have ,
		<br>the more mature you become .
	</div>
</div>

<div class='navbar-menu hide'>
	<div class='navbar-main-div'>
	  <div class='page-link'><%= link_to "Home", '/' %></div>
    <div class='page-link'><%= link_to "Bhakti Yoga", bhakti_yogas_path %> </div>
    <div class='page-link'><%= link_to "Gyan Yoga", bhakti_yogas_path %></div>
    <div class='page-link'><%= link_to "Karam Yoga", bhakti_yogas_path %></div>
    <div class='page-link'><%= link_to "Kriya Yoga", bhakti_yogas_path %></div>
    <div class='page-link'><%= link_to "Kundalini Yoga", bhakti_yogas_path %></div>
    <div class='page-link'><%= link_to "Tantra Marg", bhakti_yogas_path %></div>
    <div class='page-link'><%= link_to "Aghori Marg", bhakti_yogas_path %></div>
    <div class='page-link'><%= link_to "Nad Yoga", bhakti_yogas_path %></div>
  </div>
</div>